@page "{id?}"
@model KanbanMetaWeb.Pages.BoardModel
@{
    ViewData["Title"] = "Board" + Model.BoardId;
}

@foreach (var user in Model.Board.Users)
{
    <h4>@user.Username</h4>
}


<!-- Wrapper with image -->
<div class="h-100 pt-4 board-wrapper" id="background">

    <h1>@Model.Board.Title</h1>

    <!-- Whole kanban board -->
    <div class="d-flex" id="main-board">


        @foreach (var column in Model.Board.Columns)
        {


            <!-- @column.Name Column -->
            <div class="border-0 rounded-top w-50 align-self-start p-0 m-1 main-column">

                <div class="card-header d-flex justify-content-between bg-dark text-light text-light">
                    <h4>@column.Name</h4>

                    @if (column.Id == 0)
                    {
                        <button class="btn bg-light text-dark rounded" id="addCardButton"><b><i class="fas fa-plus"></i> Add</b></button>
                    }
                </div>

                @if (column.Id == 0)
                {
                    <form class="d-none p-2 bg-light text-dark" id="newCardInput" asp-page-handler="AddCard">
                        <input hidden asp-for="NewCard.BoardId" value="@Model.Board.Id" />
                        <label asp-for="NewCard.Title"> New Title</label><br>
                        <input type="text" style="width: 100%;" asp-for="NewCard.Title"><br>
                        <label class="mt-3" asp-for="NewCard.Description">Description</label><br>
                        <textarea asp-for="NewCard.Description" style="width: 100%;" rows="10"></textarea>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-dark">Save</button>
                            <a asp-page="Board/@Model.Board.Id" class="btn btn-dark">Cancel</a>
                        </div>
                    </form>

                }
                <div id="col_@column.Id">

                    @foreach (var card in Model.Board.Cards)
                    {
                        @if (card.ColumnId == column.Id)
                        {
                            <!-- Card -->
                            <div class="card mt-2 p-2 shadow-sm rounded-0 k-card" id="card_@card.Id">
                                <h5 class="card-header bg-dark text-light rounded-0 k-card-header" id="cardTitle_@card.Id">@card.Title</h5>
                                <p class="card-text p-3 mb-0" id="cardDescription_@card.Id">@card.Description</p>

                                <!-- Card control panel -->
                                <div class="arrows d-flex justify-content-between mb-1">

                                    <!-- Left arrow -->
                                    <div>
                                        @if (column.Id != 0)
                                        {
                                            <form asp-page-handler="MoveCard" class="noBorderButton">
                                                <input type="hidden" asp-for="MoveCard.Direction" value="left" />
                                                <input type="hidden" asp-for="MoveCard.CardId" value="@card.Id" />
                                                <input type="hidden" asp-for="MoveCard.BoardId" value="@Model.Board.Id" />
                                                <button type="submit" class="noBorderButton" style="font-size: 20px;"><i class="fas fa-arrow-left text-dark k-card-control"></i></button>
                                            </form>
                                            @*<span class="ml-3" style="font-size: 20px;"><i id="moveLeft_@card.Id" class="fas fa-arrow-left text-dark k-card-control"></i></span>*@
                                        }
                                        else
                                        {
                                            <span class="ml-3" style="font-size: 20px;"><i id="moveLeft_@card.Id" class="fas fa-arrow-left text-light k-card-control"></i></span>
                                        }
                                    </div>

                                    <!-- Edit button -->
                                    <form>
                                        <span style="font-size: 20px;"><i id="editCard_@card.Id" class="fas fa-pen text-dark k-card-control"></i></span>
                                    </form>

                                    <!-- Delete button -->
                                    <form asp-page-handler="DeleteCard" class="noBorderButton">
                                        <input type="hidden" asp-for="DeleteCard.Id" value="@card.Id" />
                                        <input type="hidden" asp-for="DeleteCard.BoardId" value="@Model.Board.Id" />
                                        <button type="submit" class="noBorderButton" style="font-size: 20px;"><i class="fas fa-trash-alt text-dark k-card-control"></i></button>
                                    </form>

                                    <!-- Right arrow -->
                                    @if (column.Id == Model.Board.Columns.Count() - 1)
                                    {
                                        <span class="ml-3" style="font-size: 20px;"><i id="moveLeft_@card.Id" class="fas fa-arrow-left text-light k-card-control"></i></span>
                                    }
                                    else
                                    {
                                        <form asp-page-handler="MoveCard" class="noBorderButton">
                                            <input type="hidden" asp-for="MoveCard.Direction" value="right" />
                                            <input type="hidden" asp-for="MoveCard.CardId" value="@card.Id" />
                                            <input type="hidden" asp-for="MoveCard.BoardId" value="@Model.Board.Id" />
                                            <button type="submit" class="noBorderButton" style="font-size: 20px;"><i class="fas fa-arrow-right text-dark k-card-control"></i></button>
                                        </form>
                                    }

                                    @*<span class="mr-3" style="font-size: 20px;"><i id="moveRight_@card.Id" class="fas fa-arrow-right text-dark k-card-control"></i></span>*@
                                </div>

                                <!-- Card footer -->
                                <div class="card-footer bg-dark text-light rounded-0 mt-2"></div>

                                <!-- Edit Card -->
                                <form class="d-none p-2 bg-light text-dark" id="editCardInput_@card.Id" asp-page-handler="EditCard">
                                    <input hidden asp-for="EditCard.Id" value="@card.Id" />
                                    <input hidden asp-for="EditCard.BoardId" value="@card.BoardId" />
                                    <label asp-for="EditCard.Title"> New Title</label><br>
                                    <input type="text" style="width: 100%;" asp-for="EditCard.Title" value="@card.Title"><br>
                                    <label class="mt-3" asp-for="EditCard.Description">Description</label><br>
                                    <textarea asp-for="EditCard.Description" style="width: 100%;" rows="10" id="editCardDescription_@card.Id"></textarea>
                                    @*<input type="text" style="width: 100%; height: 100px;" asp-for="EditCard.Description" value="@card.Description"><br>*@
                                    <div class="d-flex justify-content-between">
                                        <button type="submit" class="btn btn-dark" id="saveChangesButton_@card.Id">Save</button>
                                        <a asp-page="Board/@Model.Board.Id" class="btn btn-dark">Cancel</a>
                                    </div>
                                </form>
                            </div>
                        }
                    }

                </div>
            </div>

        }
    </div>
</div>


<script src="~/js/main.js" type="text/javascript"></script>

